body {
  font-family: "Arial", sans-serif;
  width: 300px;
  margin: 0;
  padding: 10px;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 16px;
}

.form-group {
  margin-bottom: 16px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e5e7ebff;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 4px;

  &::placeholder {
    color: #d1d5dbff;
  }
}

textarea[type="text"] {
  font-family: "Arial", sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e5e7ebff;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 8px;

  &::placeholder {
    color: #d1d5dbff;
  }
}

#generateBtn {
  width: 100%;
  background-color: #4285f4;
  color: white;
  border: none;
  cursor: pointer;

  padding: 8px 16px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

#generateBtn:hover {
  background-color: #357ae8;
}

#result {
  margin-top: 8px;
  word-wrap: break-word;
  text-align: center;
  color: green;
  font-weight: bold;
}

small {
  display: block;
  margin-bottom: 8px;
  color: #6B7280FF;
  font-size: 12px;
}
